/* 1 */

.cat-rudolf {
    background-color: #3498db!important; /* Синий */
}

.box{
	background-color: #bdc3c7; /* Серый */
}
/* 1 */

/* 2 */
.cat-keksik {
    background-color: #e74c3c!important; /* Красный */
}
.cat-rudolf {
    background-color: #3498db!important; /* Синий */
}
.box{
	background-color: #bdc3c7; /* Серый */
}
/* 2 */

/* 3 */
.cat-keksik {
    background-color: #e74c3c!important; /* Красный */
}
.cat-rudolf {
    background-color: #3498db!important; /* Синий */
}
.cat-snezhok {
    background-color: #2ecc71!important; /* Зеленый */
}
.box{
	background-color: #bdc3c7; /* Серый */
}