body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial;
}

table {
    border-spacing: 0px;
}

table td {
    padding: 10px;
    border-bottom: 2px solid lightgray;
}