body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

.share {
    width: 270px;
    margin: 120px auto 0;
    padding: 10px 10px 10px 20px;
    background: #ecf0f1;
}

.share b {
    margin-right: 15px;
    color: #7f8c8d;
    font-weight: normal;
    text-transform: uppercase;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #bdc3c7;
    margin-right: 10px;
    vertical-align: middle;
}